/* Ajoutez vos styles ici pour personnaliser la landing page */

body {
    font-family: 'Poppins', sans-serif;
}


/* Section 1 */
/* .section1 {
    background: linear-gradient(to bottom, #fef5d2, white); 
    padding: 40px 0;
} */
